# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# SQLite Database file (optional, you might want to commit a default schema)
*.db
*.db-journal

# OS-specific files
.DS_Store
Thumbs.db
chrozal.db-shm
chrozal.db-wal
